body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

.task {
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  width: 100px;
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.button1 {border-radius: 100%;}

button:hover {
  background-color: #0056b3;
}